{% extends 'front/common/base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<main class="p3">
    <div>
        <h2 class="ptb1 colorLB titres30">Contact</h2>
        <p>
            Administrateur du site : jerome.dadalt@lapiscine.pro
        </p>
    </div>
    <div>
        <h2 class="ptb1 colorLB titres30">A propos</h2>
        <p>
            Le site www.Padel33.com est édité par l'association de promotion du Padel, dont le siège est situé 14 bis rue Pierre Laban 33600 Pessac.<br>
            Numéro de téléphone : 01 23 45 67 89 <br>
            Email : jerome.dadalt@lapiscine.pro <br>
            Directeur de la publication : Jérôme DA DALT
        </p>
    </div>
    <div>
        <h2 class="ptb1 colorLB titres30">Plan du site</h2>
        <p>
            Accueil <br>
            - Connexion / Mon compte <br>
            - Inscription / Déconnexion <br>
            Joueurs <br>
            - Recherche multi-critères <br>
            - Fiche joueur <br>
            Terrains <br>
            - Recherche mot-clé <br>
            Règles de jeu <br>
            Contact A propos Plan du site <br>
            CGU Données personnelles Mentions légales
        </p>
    </div>
</main>
{% endblock  %}