{% extends 'front/common/baseHome.html.twig' %}

{% block title %}Padel33{% endblock %}

{% block body %}
    <section>
        <div class="xLarge-5 large-5 medium-10 small-10 xSmall-10 p3">
            <h2 class="ptb3 colorLB">Comment fonctionne Padel33 ?</h2>
            <p>
                Pas toujours simple de trouver des joueurs de padel près de chez toi? Bonne nouvelle, Padel33 est la nouvelle communauté qui te permettra de rencontrer de nouveaux joueurs de tous les niveaux, d'organiser tes matchs de padel selon tes disponibilités et de participer aux matchs dans les structures de padel que tu souhaites. Tu veux en savoir plus? Inscris-toi vite pour un accès immédiat et gratuit à LA communauté de padel en Gironde.
            </p>
        </div>
        <div class="xLarge-5 large-5 medium-10 small-10 xSmall-10 p3 center">
            <img src="{{ asset('img/joueurs.jpg') }}" alt="photo de joueurs de padel">
        </div>
    </section>
{% endblock %}