{% extends 'front/common/base.html.twig' %}

{% block title %}Légalité{% endblock %}

{% block body %}
    <main class="p3">
        <div>
            <h2 class="ptb1 colorLB titres30">Conditions Générales d'Utilisation</h2>
            <p>
                Le présent document a pour objet de définir les modalités et conditions dans lesquelles d’une part, Padel33, ci-après dénommé l’éditeur, met à la disposition de ses utilisateurs le site, et les services disponibles sur le site et d’autre part, la manière par laquelle l’utilisateur accède au site et utilise ses services.
                Toute connexion au site est subordonnée au respect des présentes conditions.
                Pour l’utilisateur, le simple accès au site de l’éditeur à l’adresse URL suivante www.Padel33.com implique l’acceptation de l’ensemble des conditions décrites ci-après.<br>
                Liens hypertextes
                Le site www.Padel33.com peut contenir des liens hypertextes vers d’autres sites présents sur le réseau Internet. Les liens vers ces autres ressources vous font quitter le site www.Padel33.com.
                Il est possible de créer un lien vers la page de présentation de ce site sans autorisation expresse de l’éditeur. Aucune autorisation ou demande d’information préalable ne peut être exigée par l’éditeur à l’égard d’un site qui souhaite établir un lien vers le site de l’éditeur. Il convient toutefois d’afficher ce site dans une nouvelle fenêtre du navigateur. Cependant, l’éditeur se réserve le droit de demander la suppression d’un lien qu’il estime non conforme à l’objet du site www.Padel33.com.<br>
                Responsabilité de l’éditeur
                Les informations et/ou documents figurant sur ce site et/ou accessibles par ce site proviennent de sources considérées comme étant fiables.
                Toutefois, ces informations et/ou documents sont susceptibles de contenir des inexactitudes techniques et des erreurs typographiques.
                L’éditeur se réserve le droit de les corriger, dès que ces erreurs sont portées à sa connaissance.
                Il est fortement recommandé de vérifier l’exactitude et la pertinence des informations et/ou documents mis à disposition sur ce site.
                Les informations et/ou documents disponibles sur ce site sont susceptibles d’être modifiés à tout moment, et peuvent avoir fait l’objet de mises à jour. En particulier, ils peuvent avoir fait l’objet d’une mise à jour entre le moment de leur téléchargement et celui où l’utilisateur en prend connaissance.
                L’utilisation des informations et/ou documents disponibles sur ce site se fait sous l’entière et seule responsabilité de l’utilisateur, qui assume la totalité des conséquences pouvant en découler, sans que l’éditeur puisse être recherché à ce titre, et sans recours contre ce dernier.
                L’éditeur ne pourra en aucun cas être tenu responsable de tout dommage de quelque nature qu’il soit résultant de l’interprétation ou de l’utilisation des informations et/ou documents disponibles sur ce site.<br>
                Accès au site
                L’éditeur s’efforce de permettre l’accès au site 24 heures sur 24, 7 jours sur 7, sauf en cas de force majeure ou d’un événement hors du contrôle de l’éditeur, et sous réserve des éventuelles pannes et interventions de maintenance nécessaires au bon fonctionnement du site et des services.
                Par conséquent, l’éditeur ne peut garantir une disponibilité du site et/ou des services, une fiabilité des transmissions et des performances en termes de temps de réponse ou de qualité. Il n’est prévu aucune assistance technique vis-à-vis de l’utilisateur que ce soit par des moyens électronique ou téléphonique.
                La responsabilité de l’éditeur ne saurait être engagée en cas d’impossibilité d’accès à ce site et/ou d’utilisation des services.
                Par ailleurs, l’éditeur peut être amené à interrompre le site ou une partie des services, à tout moment sans préavis, le tout sans droit à indemnités. L’utilisateur reconnaît et accepte que l’éditeur ne soit pas responsable des interruptions, et des conséquences qui peuvent en découler pour l’utilisateur ou tout tiers.
            </p>
        </div>
        <div>
            <h2 class="ptb1 colorLB titres30">Données personnelles</h2>
            <p>
                Les informations recueillies à partir de ce formulaire font l’objet d’un traitement informatique destiné à : Padel33 <br>
                Pour la ou les finalité(s) suivante(s) : Gestion de clientèle, partage de coordonnées entre joueurs <br>
                Le ou les destinataire(s) des données sont : Padel33, jerome.dadalt@lapiscine.pro <br>
                Conformément à la loi « informatique et libertés » du 6 janvier 1978 modifiée, vous disposez d’un droit d’accès et de rectification aux informations qui vous concernent.
                Vous pouvez accèder aux informations vous concernant en vous adressant à : Padel33, jerome.dadalt@lapiscine.pro <br>
                Vous pouvez également, pour des motifs légitimes, vous opposer au traitement des données vous concernant.
                Pour en savoir plus, consultez vos droits sur le site de la CNIL.
            </p>
        </div>
        <div>
            <h2 class="ptb1 colorLB titres30">Mentions légales</h2>
            <p>
                Le site www.Padel33.com est édité par l'association de promotion du Padel, dont le siège est situé 14 bis rue Pierre Laban 33600 Pessac.<br>
                Numéro de téléphone : 01 23 45 67 89 <br>
                Email : jerome.dadalt@lapiscine.pro <br>
                Directeur de la publication : Jérôme DA DALT <br>
                Le site www.Padel33.com peut être amené à utiliser le système des "cookies". Le cookie permet de vous reconnaître et ainsi de recueillir des informations sur la visite du site (temps de connexion, pages visitées...). Il vous est possible de vous opposer à l'enregistrement de cookies en configurant à cet effet votre ordinateur. La sauvegarde des cookies se fait différemment selon le navigateur que vous utilisez.
                Pour plus d'informations : http://www.cnil.fr
            </p>
        </div>
    </main>
{% endblock  %}