{% extends 'front/common/base.html.twig' %}

{% block title %}Règles{% endblock %}

{% block body %}
<section class="p3">
    <div class="xLarge-6 large-6 medium-6 small-6 xSmall-6">
        <h1 class="pb3 colorLB titres30">Les règles du Padel</h1>
        <p>Le service s’effectue toujours en diagonale, et comme au tennis, la balle doit tomber dans les limites du carré de service. Toujours comme au tennis, vous avez le droit à deux balles de service. Attention ! Au padel, on ne sert pas par en haut, on sert en laissant rebondir la balle derrière la ligne de carré de service puis en frappant un coup droit.</p>
        <p>A quelles zones ai-je le droit et où peut rebondir la balle? C’est assez simple ! Une fois le service réalisé, si la balle rebondit et vient toucher le grillage, alors la balle est faute (deuxième service du coup ! ). Si par contre, la balle rebondit et vient toucher la mur latéral et/ou du fond, alors la balle est bonne et le point s’engage.</p>
        <p>Que faire en cas de let? Deux cas de figures : la balle touche le filet, rebondit et vient toucher le grillage, alors le service est faux. La balle touche le filet, rebondit, vient toucher le mur latéral et/ou du fond, ou rebondit sans toucher de murs, alors le service est à rejouer.</p>
    </div>
    <div class="xLarge-6 large-6 medium-6 small-6 xSmall-6 center">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/DG1PGMSDIwI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="xLarge-12 large-12 medium-12 small-12 xSmall-12 pb3">
        <h1 class="ptb3 colorLB">Les points</h1>
        <p>Le padel se joue avec des balles de padel spécifiques. Si vous n'en trouvez pas, vous pouvez vous rabattre sur des balles de tennis qui ont déjà joué. Ne jouez pas avec des balles neuves de tennis, le jeu irait beaucoup trop vite !</p>
        <p>Le point est perdu lorsque : <br>
            - vous frappez directement (sans rebond) dans le mur ou le grillage adverse ou si vous faites sortir la balle du terrain sans rebond <br>
            - vous frappez dans le filet <br>
            - vous frappez dans votre propre grillage (attention, après le rebond dans votre camp, vous avez le droit de frapper un coup qui rebondit sur vos propres murs pour ensuite aller rebondir dans le terrain adverse !) <br>
            - vous ratez deux services consécutifs (double-faute) <br>
            - la balle rebondit deux fois dans votre partie de terrain.</p>
        <p>Le point est gagné lorsque : <br>
            - vos adversaires laissent rebondir la balle deux fois dans leur camp <br>
            - vous frappez un smash qui sort des limites du court (le rebond fait passer la balle au dessus du grillage, mais attention, les adversaires peuvent, s’ils y arrivent, sortir du court pour essayer de remettre la balle en jeu avant le deuxième rebond !) </p>
    </div>
    <div class="xLarge-6 large-6 medium-6 small-6 xSmall-6 ptb3">
        <p>Vous avez le droit de frapper la balle dans votre camp et de finir votre geste en passant le bras au dessus du filet dans le terrain adverse. Attention ! Il est cependant interdit de frapper la balle dans le camp adverse et de toucher le filet lorsque la balle est en jeu. Au quel cas, le point est perdu. <br>
            Pendant le jeu, il est possible de faire toucher le grillage après le rebond de la balle, au contraire du service. C’est un coup très difficile à jouer, car les rebonds contre le grillage sont imprévisibles. Essayez le ! </p>
    </div>
    <div class="scheme p3">
        <img src="{{ asset('img/terrain.jpeg') }}" alt="schéma d'un terrain de padel" class="width100">
    </div>
    <div class="xLarge-6 large-6 medium-6 small-6 xSmall-6 center ptb3">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/-EOqxiCMy1U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="xLarge-6 large-6 medium-6 small-6 xSmall-6 ptb1">
        <h1 class="ptb3 colorLB">Le score</h1>
        <p>Le score : Le comptage des points est assez simple puisque c’est exactement le même qu’au tennis ! 15 - 30 - 40 - Avantage - Jeu. Les matchs se déroulent en deux sets gagnants de 6 jeux avec tie-break si égalité 6-6 à la fin du set. </p>
        <p>Avec ces quelques règles simples, vous pourrez jouer au padel en toute tranquillité et surtout en prenant un maximum de plaisir. Si vous avez d’autres questions sur les règles du padel, n’hésitez pas à nous en faire part, nous vous répondrons avec grand plaisir ! A vous les terrains !</p>
    </div>
</section>
{% endblock  %}