/*je déclare mes variables que je vais pouvoir ré utiliser partout plus simplement;
 cela me permet aussi de pouvoir changer rapidement les variables et qu'elles s'appliquent partout */

$blue: #2249AB;
$lightblue: #4A7BF7;
$yellow: #F7E419;
$orange: #F79C4A;
$green: #6FAB11;

